# =========================
# Folders to ignore
# =========================
ControlNet_edge_contra2/
.history/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/
**/__pycache__/

# =========================
# File types to ignore (from your stats)
# =========================
*.png
*.pyc
# *.json
*.csv
*.sample
*.ckpt
*.md
*.yaml
*.yml
*.sh
*.txt
*.zip
*.ttf
*.rev
*.pack
*.idx
ControlNet/.git
